*{
    padding: 0;
    margin: 0;
}

body{
    color: black;

    font-family: Arial, Helvetica, sans-serif;
}

.espaco{
    height: 60px;
}

header{

    & .logo{
        height: 200px;        
    }
}

nav{
    background-color: rgb(0, 162, 255);

    display: flex;
    justify-content: center;

    height: 70px;

    & ul{
        display: flex;
        justify-content: center;

        & li{
            list-style-type: none;

            margin-top: auto;
            margin-bottom: auto;

            margin-right: 70px;

            & a{ 
                text-decoration: none;

                color: black;
            }

            & a:hover{
                color: white;
            }
        }
    }
}

.area{

    & .caixa{
        border: solid 2px rgb(0, 162, 255);
        border-radius: 20px;
        width: 1080px;
        height: 500px;
        display: flex;
        justify-content: center;

        & img{
            height: 300px;
            margin-top: 30px;
        }

        & .texto{
            padding-left: 10px;
        }
    }
}

.texto{

    & p{
        margin-top: 50px;
        margin-left: 15px;
        padding-left: 20px;

        border-left: solid 2px rgb(0, 162, 255);

        
    }
}

.botao button{
    height: 50px;
    width: 100px;
    margin-left: 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 7px;
}




.caixaCompra{
    position: relative;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.comprar:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.438) 3px 3px 3px 3px;
}

.org{
    background: linear-gradient(to bottom, white, black); 
    height: 50px; 
    margin-top: 80px;
}

footer{
    background-color: black;

    height: 150px;
}

li{
    list-style-type: none;
}

.faixa{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    height: 130px;

    & .creditos{
        color: white;
        border-left: solid 2px rgb(0, 162, 255);

        & h3:hover{
            color: red;
        }

        & a{
            color: white;
            text-decoration: none;
        }
    }

    & .apoio{
        color: white;
        border-left: solid 2px rgb(0, 162, 255);

        & h3:hover{
            color: red;
        }

        & ul{
            margin-left: 10px;
            margin-right: 10px;

            text-align: justify;
        }
    }

    & .redes{
        color: white;
        border-left: solid 2px rgb(0, 162, 255);
        border-right: solid 2px rgb(0, 162, 255);

        & h3:hover{
            color: red;
        }

        & ul{
            margin-left: 10px;
            margin-right: 10px;

            text-align: justify;
        }

        & a{
            color: white;
            text-decoration: none;
            
            text-align: center;
        }

        & img{
            height: 50px;
            margin-left: 10px;
        }
    }

    & .creditos, .apoio, .redes{
        margin-top: 10px;
        margin-bottom: 10px;

        & ul{
            margin-left: 10px;
            margin-right: 10px;

            text-align: justify;
        }
    }


}

.espacoLI{
    margin-top: 3px;
}

.logoFoot{
    height: 150px;
    background-color: black;
    text-align: center;

    & img{
        height: 100px;
    }
}

.copy{
    color: white;
}