*{
    padding: 0;
    margin: 0;
}

.infoUsuario{
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: -400px;
    text-align: center;

    border: solid 3px red;
    border-radius: 20px;
    backdrop-filter: blur(20px);

    z-index: 2;
}

input{
    border: solid red 2px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);

    margin-top: 20px;

    height: 30px;
    width: 200px;
}

input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 10px;
}

.confirmar{
    background-color: red;
    border: none;
    border-radius: 17px;
    height: 30px;
    width: 100px;
    margin-top: 20px;
}